.container {
  min-height: 100%;
}
.main {
  padding-bottom: 50px;
}
.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .main {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
.main-inner {
  margin: 0 auto;
  width: 1200px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-inner {
    width: auto;
  }
}
@media (max-width: 767px) {
  .main-inner {
    width: auto;
  }
}
.content-wrap {
  position: relative;
  float: right;
  box-sizing: border-box;
  width: 900px;
  background: #fff;
  min-height: 700px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    width: 100%;
    min-height: auto;
  }
}
.content-wrap .icon-spread {
  position: absolute;
  top: 4px;
  left: 6px;
  display: none;
  font-size: 18px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-wrap .icon-spread {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .content-wrap .icon-spread {
    display: none !important;
  }
}
.content-wrap-normal {
  padding: 25px;
}
.sidebar {
  position: fixed;
  float: left;
  width: 264px;
  background: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
.navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 50px;
  font-weight: 600;
  background-color: #8ecfd5;
  border: 1px solid transparent;
}
.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}
.navbar:after {
  clear: both;
}
.navbar-inner {
  width: 1200px;
  margin: 0 auto;
}
.navbar-inner:before,
.navbar-inner:after {
  content: " ";
  display: table;
}
.navbar-inner:after {
  clear: both;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-inner {
    width: auto;
  }
}
@media (max-width: 767px) {
  .navbar-inner {
    width: auto;
  }
}
.main-inner-center {
  width: 900px;
}
.headband {
  height: 3px;
  background: #50bcb6;
}
.use-motion .post {
  opacity: 0;
}
.archive-page-counter {
  position: relative;
  top: 3px;
  left: 20px;
}
@media (max-width: 767px) {
  .archive-page-counter {
    top: 5px;
  }
}
.archive-move-on {
  position: absolute;
  top: 11px;
  left: 0;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: #555;
  border: 1px solid #fff;
  border-radius: 50%;
}
.content-wrap-index {
  padding: 10px 35px;
  padding-top: 15px;
}
.content-wrap-index .post {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.content-wrap-post {
  padding: 10px 35px;
}
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #f5f5f5;
}
body {
  color: #222;
  font-family: "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
a {
  color: #555;
  text-decoration: none;
  word-wrap: break-word;
}
a:hover {
  color: #2ca6cb;
}
blockquote {
  position: relative;
  padding: 30px 38px;
  font-size: 1em;
  font-style: normal;
  text-indent: 0;
  color: #666;
  border: none;
}
blockquote:before,
blockquote:after {
  position: absolute;
  font-family: Arial, serif;
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
}
blockquote:before {
  content: "“";
  left: 12px;
  top: 0;
  color: #ddd;
}
blockquote:after {
  content: "”";
  right: 12px;
  bottom: -31px;
  color: #ddd;
}
blockquote p {
  margin-bottom: 0;
}
img,
video {
  max-width: 100%;
  height: auto;
  border: none;
}
code {
  padding: 0 5px;
  word-break: break-all;
  color: #c7254e;
  background: #f9f2f4;
  font-size: 0.95em;
}
ol {
  list-style: none;
}
pre,
code {
  font-family: Monaco, Menlo, Consolas, monospace;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  table-layout: fixed;
  word-wrap: break-all;
}
table>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
table>tbody>tr:hover {
  background-color: #f5f5f5;
}
caption,
th,
td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  font-weight: normal;
}
th,
td {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #eee;
}
th {
  padding-bottom: 10px;
  font-weight: 700;
}
td {
  border-bottom-width: 1px;
}
.icon {
  display: inline-block;
  line-height: 1em;
  font: 1em FontAwesome;
  color: #555;
}
.icon-github:before {
  content: "\f09b";
}
.icon-email:before {
  content: "\f003";
}
.icon-collapse:before {
  content: "\f0c9";
}
.icon-spread:before {
  content: "\f192";
}
.post {
  position: relative;
  margin-bottom: 20px;
}
.post h1 {
  margin-bottom: 0;
  font-size: 1.6em;
  font-weight: 500;
}
.post-header time {
  display: block;
  font-size: 0.9em;
  line-height: 1;
  color: #2ca6cb;
}
.post-header time a {
  color: #ddd;
}
.post-body {
  text-align: justify;
}
.post-body a {
  color: #2ca6cb;
}
.post-body a:hover {
  text-decoration: underline;
}
.post-body ul li {
  list-style: square;
}
.post-body h3 {
  font-size: 1.3em;
  font-weight: 500;
  padding-left: 9px;
  border-left: 5px solid #ff7e79;
}
.post-body ul,
.post-body iframe {
  margin-bottom: 20px;
}
.post-body ul,
.post-body ol,
.post-body dl {
  margin-left: 20px;
}
.post-body ul ul,
.post-body ol ul,
.post-body dl ul,
.post-body ul ol,
.post-body ol ol,
.post-body dl ol,
.post-body ul dl,
.post-body ol dl,
.post-body dl dl {
  margin-top: 0;
}
.post-meta {
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #ddd;
}
.post-meta-avatar {
  color: #ddd;
}
.post-meta-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  vertical-align: bottom;
}
.post-meta-avatar span {
  padding: 0 10px;
}
.post-meta-time {
  padding-right: 10px;
}
.collapse {
  position: relative;
  margin-left: 55px;
  z-index: 1010;
}
@media (max-width: 767px) {
  .collapse {
    margin: 0 20px;
  }
  .collapse .post-title,
  .collapse .post-meta {
    display: block;
    width: auto;
    text-align: left;
  }
}
.collapse::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}
.collapse-title {
  position: relative;
  margin: 60px 0;
}
.collapse-title h2 {
  margin-left: 20px;
}
.collapse-title small {
  color: #bbb;
}
.collapse-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.collapse-post {
  margin: 30px 0;
}
.collapse-post-header {
  position: relative;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
}
.collapse-post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-property: background;
}
.collapse-post-header:hover {
  border-bottom-color: #666;
}
.collapse-post-header:hover::before {
  background: #222;
}
.collapse-post-title {
  margin-bottom: 0px;
  margin-left: 60px;
  font-size: 16px;
  font-weight: normal;
  line-height: inherit;
}
.collapse-post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.collapse-post-title a {
  color: #666;
  border-bottom: none;
}
.collapse-post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 5px;
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1.6;
}
pre {
  padding: 7px 10px;
  background: url("/img/blueprint-dark.fd85a7a074ae.png") top center #fafbfc;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
figure.highlight {
  padding: 7px 5px;
  background: url("/img/blueprint-dark.fd85a7a074ae.png") top center #fafbfc;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 7px 15px;
  background: inherit;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight tr {
  background: inherit !important;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
  border-right: 2px solid #558abb;
  padding-bottom: 0;
  padding-top: 0;
}
.highlight .line {
  height: 20px;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
.pagination a {
  display: block;
  padding: 5px 10px;
  text-shadow: 0 0 1px #fff;
}
.pagination a.prev:before {
  font: 0.9em FontAwesome;
  color: #2ca6cb;
  content: '\f053';
  padding-right: 10px;
}
.pagination a.next:after {
  font: 0.9em FontAwesome;
  color: #2ca6cb;
  content: '\f054';
  padding-left: 10px;
}
.sidebar-inner {
  box-sizing: border-box;
  width: 264px;
  padding: 15px 25px;
  line-height: 1.6em;
}
.sidebar-inner .icon-collapse {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 18px;
  color: #2ca6cb;
}
.sidebar-nav {
  text-align: center;
}
.sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.sidebar-nav li.active {
  color: #fc6423;
}
.sidebar-nav-content {
  padding: 10px 0;
}
.sidebar-nav-content .nav-panel {
  display: none;
}
.sidebar-nav-content .nav-panel.active {
  display: block;
}
.categorieslist-title,
.tagslist-title {
  padding: 0 0 0.3125em 0;
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1em;
  border-bottom: 0.1875em solid #ccc;
}
.author {
  position: relative;
  padding-top: 10px;
  margin-bottom: 1.5em;
  text-align: center;
  background-size: 5px auto;
  background-repeat: repeat-x;
  background-position: left bottom;
  border-bottom: 1px solid #bbb;
  overflow: hidden;
}
.author-img {
  width: 6.875em;
  height: 6.875em;
  margin: 0 auto;
  background: no-repeat url("../img/author.jpg") left top;
  background-size: 6.875em 6.875em;
  border-radius: 3.4375em;
  transition: transform 2s ease-out;
}
.author-img:hover {
  transform: rotateZ(360deg);
}
.author-socialInfo .icon {
  padding: 0.3em;
  font-size: 26px;
}
.categorieslist {
  margin: 1em 0 0;
}
.categorieslist-item {
  border-bottom: 1px solid #ccc;
}
.categorieslist-item a {
  display: block;
  line-height: 1em;
  padding: 0.5em 5%;
}
.tagslist {
  margin: 1em 0 0;
}
.tagslist ul {
  padding: 0.5em 0;
}
.tagslist ul:before,
.tagslist ul:after {
  content: " ";
  display: table;
}
.tagslist ul:after {
  clear: both;
}
.tagslist-item {
  float: left;
}
.tagslist-item a {
  display: block;
  margin: 0.3125em;
  padding: 0.125em 0.3125em;
  font-size: 0.8em;
  line-height: 1em;
  background: #dbdbdb;
}
.post-toc-fix {
  position: fixed;
  top: 0;
}
.post-toc {
  position: relative;
  padding: 0 12px;
}
.post-toc::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 3px;
  background: #eee;
  border-radius: 5px;
  z-index: -3;
}
.post-toc .highlight-title {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  background: #f3f3f3;
  z-index: -2;
  border-left: 3px solid #009a61;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.nav-menu {
  position: relative;
  margin: 0;
  padding-left: 18px;
  list-style-type: square;
}
.nav-menu-item {
  z-index: 3;
}
.nav-menu-item a {
  display: block;
}
.navbar-nav {
  float: left;
}
.navbar-nav li {
  float: left;
}
.navbar-nav li a {
  display: block;
  padding: 14px 15px;
  line-height: 22px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 991px) {
  .comments {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .comments {
    padding-left: 0;
  }
}
